:root {
    --dark-bg: rgb(9, 7, 74);
    --light-bg: rgb(141, 140, 184);
    --dark-text: rgb(0, 0, 0);
    --light-text: rgb(67, 66, 82);
}

.bg-main {
    background-color: var(--dark-bg);
}

.bg-card {
    background-color: var(--light-bg);
}

.upper {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}


.bi {
    display: inline-block;
    fill: currentColor;
    width: 1rem;
    height: 1rem;
}

.bi-cart3 {
    display: inline-block;
    fill: currentColor;
    font-size: 1.75rem;
}

body
{   
    padding-bottom:0;   
}

.btn-icon-only span {
    color: white;
}

.nav-search div {
    background-color: var(--light-bg);
    border-color: var(--light-bg);
}

.nav-search div span {
    color: var(--dark-bg);
}

.nav-search .form-control{
    background-color: transparent;
    border-color: var(--light-bg);
    box-shadow: none;
}

.accordion-button {
    color: black;
    text-decoration: none; /* Removes underline */
    font-weight: bold; /* Optional: Makes the font bold */
}
  
.accordion-button:focus, .accordion-button:not(.collapsed) {
    box-shadow: none; /* Removes the blue focus outline */
}
  
.accordion-button:hover {
    color: darkslategray; /* Optional: Change color on hover */
    text-decoration: none; /* Ensures underline stays removed */
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-bg);
    color: white;
}


.home-card {
    border-radius: 10px;
}

.banner1 {
    background: linear-gradient( rgba(9, 7, 74, 0.7), rgba(9, 7, 74, 0.7) ), url('../img/kettagolf.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.banner1 h1, .banner2 h1 {
    font-size: 4rem;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.banner2 {
    background: linear-gradient( rgba(9, 7, 74, 0.6), rgba(9, 7, 74, 0.6) ), url('../img/e-pood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 30rem;
}

.card-link, .banner-link, .carousel-link {
    text-decoration: none;
    text-align: center;
}

.card-link h5, .carousel-link h3 {
    font-weight: bold;
}

.carousel-link h3 {
    color: white;
}

.card-link:hover, .banner-link:hover, .carousel-link:hover {
    text-decoration: underline;
}

.banner-link:hover, .carousel-link:hover {
    text-decoration-color: white;
}

.banner-link:hover .banner2 {
    background: linear-gradient( rgba(9, 7, 74, 0.8), rgba(9, 7, 74, 0.8) ), url('../img/e-pood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.short-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.short-section {
    flex: 1;
}

@media only screen and (min-width: 992px) {
    .banner1 {
        border-radius: 10px 0 0 10px;
    }
}